In [2]:
import pandas as pd

df_order_products_prior = pd.read_csv('order_products__prior.csv')
df_orders = pd.read_csv('orders.csv')
df_products = pd.read_csv('products.csv')

In [3]:
df_order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
#Merge order products prior with orders and then merge with products
df_order_products_prior = pd.merge(df_order_products_prior, df_products, how='left', on='product_id')

df_prior_user_order_product = pd.merge(df_order_products_prior, df_orders, how='left', on='order_id')

In [5]:
df_prior_user_order_product.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,202279,prior,3,5,9,8.0
2,2,9327,3,0,Garlic Powder,104,13,202279,prior,3,5,9,8.0
3,2,45918,4,1,Coconut Butter,19,13,202279,prior,3,5,9,8.0
4,2,30035,5,0,Natural Sweetener,17,13,202279,prior,3,5,9,8.0

In [ ]:
# Regarding product_name, replace white space with '_' then drop original column

df_prior_user_order_product['product_no_space'] = [e.replace(" ", "-") for e in df_prior_user_order_product.product_name]

df_prior_user_order_product = df_prior_user_order_product.drop(['product_name'], axis=1)
df_prior_user_order_product.head()

In [ ]:
# add product name to each user
name_list = []
for p_name in Prior_User_Order_Product.groupby('order_id')['product_name']:
    name_list.append(' '.join(p_name[1]))
    
order_id = Prior_User_Order_Product.groupby('order_id')['product_name'].agg('count').index
order_products = pd.DataFrame({'order_id':order_id, 'products':name_list})